<div class="greet">
<h1> Recently added destinations: </h1>

<div class="list">
<ul style="list-style-type:none;">
<% @recent_destinations.each do |d|%>
    <li><%= city_state_country(d) %></li>
    <li><small><%= nice_date(d.updated_at) %></small></li>
    <br>
<% end %>
</ul>
</div>
</div>
    