<h1> <%= @destination.city %> </h1>
<h3> Check out some vacations others have taken here! </h3>
<ul>
<% @destination.vacations.each do |v| %>
    <li> <%= link_to v.title, vacation_path(v) %> </li><br>
<% end %>